#body {
font-family: 'Poppins', serif;
}
.bod{
	width:98%
	
}
.row{
	height:700px;
	
}
#one{
    
    color: white;
    padding: 175px 50px 160px 50px;
    background-size: cover;
}

#one button{
    width: 15%;
    font-size: 20px;
    padding: 20px;
    outline: none;
    background: #FF8A00;
    color: white;
    border: none;
    border-radius: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
}
  
h1{
    font-size: 30px;
    color: #FF8A00;
}

p{
    font-size: 15px;
}

 
.flexslider{
	 
 	padding:5px;
	margin: 5px;
}
.fact{
	padding:50px;
	
}
  
.parent{
	 
	margin:0;
	height:500px;
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	align-items:flex-start;
}
.children{
	height:200px;
	width:90%;
	color:black;
	text-align:center;
	font-weight:500;
	margin:2px;
}
.container{
	text-align:Justify;
	margin-left:20px;
	 
	
	
}

div.card {
  width: 400px;
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  margin:10px;
  
}

 
div.container {
  padding: 10px;
}
 
